/* items: checkbox, radio */
/* dhxlist_img, dhxlist_txt */

.dhxlist_obj_dhx_skyblue div.dhxlist_img {
	width: 18px;
	height: 18px;
	margin-left: 5px;
	font-size: 1px;
	-moz-user-select: -moz-none;
}
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.chbx0,
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.chbx1,
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.chbx0,
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.chbx1,
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.rdbt0,
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.rdbt1,
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.rdbt0,
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.rdbt1 {
		background-image: url("../imgs/dhxform_dhx_skyblue/dhxform_chbxrd.gif");
		background-repeat: no-repeat;
	}
	/* checkboxes */
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.chbx0 {
		background-position: -18px 0px;
	}
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.chbx1 {
		background-position: 0px 0px;
	}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.chbx0 {
		background-position: -54px 0px;
	}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.chbx1 {
		background-position: -36px 0px;
	}
	
	/* radios */
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.rdbt0 {
		background-position: -90px 0px;
	}
	.dhxlist_obj_dhx_skyblue div.dhxlist_img.rdbt1 {
		background-position: -72px 0px;
	}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.rdbt0 {
		background-position: -126px 0px;
	}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_img.rdbt1 {
		background-position: -108px 0px;
	}
	
.dhxlist_obj_dhx_skyblue div.dhxlist_txt {
	font-family: Tahoma;
	font-size: inherit;
	margin: 2px 0px 2px 5px;
	color: #000000;
	overflow-x: hidden;
	-moz-user-select: none;
	overflow: hidden;
	white-space: nowrap;
	/*border: 1px solid red;*/
}
	.dhxlist_obj_dhx_skyblue .dhxlist_txt_label label {
		-moz-user-select: none;
	}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_txt {
		color: #b2b2b2;
	}
	
.dhxlist_obj_dhx_skyblue div.dhxlist_txt.align_left {
	text-align: left;
}
.dhxlist_obj_dhx_skyblue div.dhxlist_txt.align_center {
	text-align: center;
}
.dhxlist_obj_dhx_skyblue div.dhxlist_txt.align_right {
	text-align: right;
}

/* label left */
.dhxlist_obj_dhx_skyblue div.item_label_left {
	clear: both;
	margin-top: 4px;
}
.dhxlist_obj_dhx_skyblue div.item_label_left div.dhxlist_img {
	display: inline-block;
	float: none;
}
.dhxlist_obj_dhx_skyblue div.item_label_left div.dhxlist_txt {
	display: inline-block;
	float: left;
}
/* label right */
.dhxlist_obj_dhx_skyblue div.item_label_right {
	clear: both;
}
.dhxlist_obj_dhx_skyblue div.item_label_right div.dhxlist_img {
	display: inline-block;
	float: left;
}
.dhxlist_obj_dhx_skyblue div.item_label_right div.dhxlist_txt {
	display: inline-block;
	float: left;
}
/* label top */
.dhxlist_obj_dhx_skyblue div.item_label_top div.dhxlist_img {
	float: none;
}
.dhxlist_obj_dhx_skyblue div.item_label_top div.dhxlist_txt {
	float: none;
}
/* absolute */
.dhxlist_obj_dhx_skyblue div.item_absolute div.dhxlist_img {
	position: absolute;
}
.dhxlist_obj_dhx_skyblue div.item_absolute div.dhxlist_txt {
	position: absolute;
}


.dhxlist_obj_dhx_skyblue div.item_absolute {
	position: absolute;
	left: 0px;
	top: 0px;
}


/****************************************************************************************************************************************************************************************************************/


/* select */
/* dhxlist_txt_label,dhxlist_cont */



.dhxlist_obj_dhx_skyblue div.dhxlist_txt_label {
	overflow: hidden;
	white-space: nowrap;
	font-family: Tahoma;
	font-size: inherit;
	color: #000000;
	vertical-align: top;
	margin: 2px 5px 2px 5px;
	cursor: default;
}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_txt_label {
		color: #b2b2b2;
	}

.dhxlist_obj_dhx_skyblue div.dhxlist_txt_label.align_left {
	text-align: left;
}
.dhxlist_obj_dhx_skyblue div.dhxlist_txt_label.align_center {
	text-align: center;
}
.dhxlist_obj_dhx_skyblue div.dhxlist_txt_label.align_right {
	text-align: right;
}

.dhxlist_obj_dhx_skyblue .dhxlist_cont {
	margin-top: 1px;
	margin-bottom: 1px;
}

/* select element */
.dhxlist_obj_dhx_skyblue .dhxlist_txt_select {
	border: #a4bed4 1px solid;
	background-color: #ffffff;
	font-family: Tahoma;
	font-size: inherit;
	color: #000000;
	margin: 0px;
}
	.dhxlist_obj_dhx_skyblue div.disabled .dhxlist_txt_select {
		color: #b2b2b2;
		background-color: #ffffff;
		border: #c2d0dd 1px solid;
	}

/* input, textarea, file elements */
.dhxlist_obj_dhx_skyblue input.dhxlist_txt_textarea {
	padding: 1px 0px !important;
	margin: 0px;
}
.dhxlist_obj_dhx_skyblue .dhxlist_txt_textarea {
	border: #a4bed4 1px solid;
	font-family: Tahoma;
	font-size: inherit;
	color: #000000;
	-moz-user-select: text;
}
.dhxlist_obj_dhx_skyblue div.disabled .dhxlist_txt_textarea {
	color: #b2b2b2;
	background-color: #ffffff;
	border: #c2d0dd 1px solid;
}


/* label left */
.dhxlist_obj_dhx_skyblue div.item_label_left div.dhxlist_cont {
	display: inline-block;
	float: left;
}
.dhxlist_obj_dhx_skyblue div.item_label_left div.dhxlist_txt_label {
	display: inline-block;
	float: left;
}
/* label right */
.dhxlist_obj_dhx_skyblue div.item_label_right div.dhxlist_cont {
	display: inline-block;
	float: left;
}
.dhxlist_obj_dhx_skyblue div.item_label_right div.dhxlist_txt_label {
	display: inline-block;
	float: none;
}
/* label top */
.dhxlist_obj_dhx_skyblue div.item_label_top div.dhxlist_cont {
	float: none;
}
.dhxlist_obj_dhx_skyblue div.item_label_top div.dhxlist_txt_label {
	clear: both;
	float: none;
}
/* absolute */
.dhxlist_obj_dhx_skyblue div.item_absolute div.dhxlist_cont {
	position: absolute;
}
.dhxlist_obj_dhx_skyblue div.item_absolute div.dhxlist_txt_label {
	position: absolute;
}



/****************************************************************************************************************************************************************************************************************/

/* label, level 2 */
.dhxlist_obj_dhx_skyblue div.dhxlist_txt_label2 {
	font-family: Tahoma;
	font-size: inherit;
	font-weight: bold;
	color: #256187;
	margin: 5px 3px;
}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_txt_label2 {
		color: #b2b8bc;
	}


.dhxlist_obj_dhx_skyblue div.item_absolute div.dhxlist_txt_label2 {
	position: absolute;
}

/****************************************************************************************************************************************************************************************************************/


/* button */


.dhxlist_obj_dhx_skyblue div.dhx_list_btn {
	font-size: inherit;
	font-family: Tahoma;
	height: 21px;
	/*margin: 10px 2px;*/
	margin: 0px 2px;
	float: left;
	cursor: default;
	clear: both;
	-moz-user-select: none;
}

	/* table */
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn table {
		/*table-layout: fixed;*/
		height: 21px;
		font-size: inherit;
	}
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td {
		text-align: center;
		vertical-align: middle;
	}
	/* bg */
	/* left side */
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_l {
		background-image: url("../imgs/dhxform_dhx_skyblue/dhxform_btns.gif");
		background-repeat: no-repeat;
		background-position: 0px 0px;
		width: 5px;
		height: 21px;
		font-size: 1px;
	}
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_l div.btn_l {
		width: 5px;
	}
		/* dis */
		.dhxlist_obj_dhx_skyblue div.disabled div.dhx_list_btn td.btn_l {
			background-position: 0px -42px !important;
		}
		/* over */
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_over td.btn_l {
			background-position: 0px -84px !important;
		}
		/* pressed */
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_pressed td.btn_l {
			background-position: 0px -126px !important;
		}
		
	/* middle side */
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_m {
		background-image: url("../imgs/dhxform_dhx_skyblue/dhxform_btns.gif");
		background-repeat: repeat-x;
		background-position: 0px -21px;
		height: 21px;
	}
		/* dis */
		.dhxlist_obj_dhx_skyblue div.disabled div.dhx_list_btn td.btn_m {
			background-position: 0px -63px !important;
		}
		/* over */
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_over td.btn_m,
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.dhx_list_btn_over.btn_m {
			background-position: 0px -105px !important;
		}
		/* pressed */
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_pressed td.btn_m, 
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.dhx_list_btn_pressed.btn_m {
			background-position: 0px -147px !important;
		}
	
	/* right side */
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_r {
		background-image: url("../imgs/dhxform_dhx_skyblue/dhxform_btns.gif");
		background-repeat: no-repeat;
		background-position: -5px 0px;
		width: 5px;
		height: 21px;
		font-size: 1px;
	}
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_r div.btn_r {
		width: 5px;
	}
		/* dis */
		.dhxlist_obj_dhx_skyblue div.disabled div.dhx_list_btn td.btn_r {
			background-position: -5px -42px !important;
		}
		/* over */
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_over td.btn_r {
			background-position: -5px -84px !important;
		}
		/* pressed */
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_pressed td.btn_r {
			background-position: -5px -126px !important;
		}
	
	/* label */
	.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_m div.btn_txt {
		font-size: inherit;
		font-family: Tahoma;
		color: #000000;
		padding: 1px 20px;
		overflow: hidden;
		white-space: nowrap;
	}
		.dhxlist_obj_dhx_skyblue div.disabled div.dhx_list_btn td.btn_m div.btn_txt {
			color: #b2b2b2 !important;
		}
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn table.dhx_list_btn_pressed td.btn_m div.btn_txt {
			padding-top: 2px !important;
			padding-bottom: 0px !important;
		}

/* button for kbdnav */
.dhxlist_obj_dhx_skyblue div.dhx_list_btn,
.dhxlist_obj_dhx_skyblue div.dhx_list_btn:visited,
.dhxlist_obj_dhx_skyblue div.dhx_list_btn:active,
.dhxlist_obj_dhx_skyblue div.dhx_list_btn:hover {
	outline: none;
	text-decoration: none;
	color: inherit;
	cursor: default;
}
.dhxlist_obj_dhx_skyblue div.dhx_list_btn:focus {
	outline: #30678a 1px dotted;
}
		

.dhxlist_obj_dhx_skyblue div.item_absolute div.dhx_list_btn {
	position: absolute;
}

/* multibutton label */
.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_m div.multibutton_txt {
	font-size: inherit;
	font-family: Tahoma;
	color: #000000;
	height: 21px;
	line-height: 21px;
	vertical-align: middle;
	padding: 0px 20px;
	overflow: hidden;
	white-space: nowrap;
}
.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.btn_m div.multibutton_txt:focus {
	outline: #30678a 1px dotted;
}
		.dhxlist_obj_dhx_skyblue div.disabled div.dhx_list_btn td.dhx_list_btn_pressed.btn_m div.multibutton_txt {
			color: #b2b2b2 !important;
		}
		.dhxlist_obj_dhx_skyblue div.dhx_list_btn td.dhx_list_btn_pressed.btn_m div.multibutton_txt .btn_txt2 {
			padding-top: 1px !important;
		}
/****************************************************************************************************************************************************************************************************************/


/* fieldset */
.dhxlist_obj_dhx_skyblue fieldset.dhxlist_fs {
	border: #a4bed4 1px solid;
	margin-top: 5px;
	padding: 5px;
	display: inline;
}
	.dhxlist_obj_dhx_skyblue div.disabled fieldset.dhxlist_fs {
		border: #c2d0dd 1px solid;
	}
	
.dhxlist_obj_dhx_skyblue fieldset.dhxlist_fs legend.fs_legend {
	font-family: Tahoma;
	color: #256187;
	font-size: inherit;
	font-weight: normal;
	padding: 0px 4px 1px 4px;
	text-align: left;
	
}
	.dhxlist_obj_dhx_skyblue div.disabled fieldset.dhxlist_fs legend.fs_legend {
		color: #b2b2b2;
	}

.dhxlist_obj_dhx_skyblue div.fs_item_label_left {
	clear: both;
}
.dhxlist_obj_dhx_skyblue div.fs_item_label_right {
	clear: both;
}
.dhxlist_obj_dhx_skyblue div.fs_item_absolute fieldset.dhxlist_fs {
	position: absolute;
}

/****************************************************************************************************************************************************************************************************************/

/* block */
.dhxlist_obj_dhx_skyblue div.dhxlist_block {
	/*padding: 4px;
	display: inline;*/
}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_block {
		
	}
	
.dhxlist_obj_dhx_skyblue div.block_item_label_left {
	clear: both;
}
.dhxlist_obj_dhx_skyblue div.block_item_label_right {
	clear: both;
}
.dhxlist_obj_dhx_skyblue div.block_item_absolute div.dhxlist_block {
	position: absolute;
}
/****************************************************************************************************************************************************************************************************************/






.dhxlist_obj_dhx_skyblue_old {
	position: relative;
	background-color: #ffffff;
	-moz-user-select: -moz-none;
}
.dhxlist_obj_dhx_skyblue div.dhxlist_base {
	/*
	margin: 0px 10px;
	*/
	position: relative;
	float: left;
	
}
.dhxlist_obj_dhx_skyblue div.dhxlist_base_nested {
	
	padding: 0px 20px;
	clear: both;
}
.dhxlist_obj_dhx_skyblue div.dhxlist_base_nested.in_block {
	padding: 0px 0px!important;
}
/* margin for new column? */
/*
.dhxlist_obj_dhx_skyblue div.dhxlist_base_nested div.dhxlist_base:first-child {
	margin-right: 10px;
}
*/

.dhxlist_obj_dhx_skyblue span.nav_link,
.dhxlist_obj_dhx_skyblue span.nav_link:visited,
.dhxlist_obj_dhx_skyblue span.nav_link:active,
.dhxlist_obj_dhx_skyblue span.nav_link:hover {
	outline: none;
	text-decoration: none;
	color: inherit;
	cursor: default;
}
.dhxlist_obj_dhx_skyblue span.nav_link:focus {
	color: #30678a;
	/*color: #0f4161;*/
}


.dhxlist_obj_dhx_skyblue_old table.dhxlist_items_set {
	table-layout: fixed;
	cursor: default;
	width: 100%;
	font-size: inherit;
}

/* button's cont. */
.dhxlist_obj_dhx_skyblue_old div.button_container {
	position: absolute;
	height: 50px;
	width: 100%;
	bottom: 0px;
}

/* table head */
.dhxlist_obj_dhx_skyblue_old th.dhxlist_img_cell {
	width: 26px;
}
.dhxlist_obj_dhx_skyblue_old th.dhxlist_tbl_head {
	height: 0px;
	margin: 0px;
	padding: 0px;
}
/* image, checkbox, radio */
.dhxlist_obj_dhx_skyblue_old div.dhxlist_img_cell {
	display: inline-block;
	width: 26px;
	vertical-align: top;
	-moz-user-select: -moz-none;
}


/* text */
.dhxlist_obj_dhx_skyblue_old div.dhxlist_txt_cell {
	adisplay: inline-block;
	vertical-align: top;
	padding-right: 5px;
	-moz-user-select: -moz-none;
}

	


.dhx_form_cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: silver;
	left: 0px; top: 0px; 
	display: none;  
	opacity: 0.2; 
	-moz-opacity: 0.2; 
	z-index: 99999;
	filter:alpha(opacity=20); 
}

input.dhtmlx_validation_error, select.dhtmlx_validation_error {
	background-color: #F29FB5;
}







/*
.dhxlist_obj_dhx_skyblue .dhxform_rtl,
.dhxlist_obj_dhx_skyblue .dhxform_rtl .dhxlist_txt_cell,
.dhxlist_obj_dhx_skyblue .dhxform_rtl .dhxlist_txt,
.dhxlist_obj_dhx_skyblue .dhxform_rtl table.dhxlist_items_set div.dhxlist_txt_label,
.dhxlist_obj_dhx_skyblue .dhxform_rtl table.dhxlist_items_set div.dhxlist_txt_label2,
.dhxlist_obj_dhx_skyblue .dhxform_rtl table.dhxlist_items_set .dhxlist_txt_select,
.dhxlist_obj_dhx_skyblue .dhxform_rtl table.dhxlist_items_set .dhxlist_txt_select option,
.dhxlist_obj_dhx_skyblue .dhxform_rtl table.dhxlist_items_set .dhxlist_txt_textarea,
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.dhx_list_btn td.btn_m div.btn_txt
*/
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.item_label_left,
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.item_label_left div.dhxlist_txt

{
	float: right;
	direction: rtl;
	unicode-bidi: bidi-override;
}
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.dhxlist_txt.align_left {
	text-align: right;
}
.dhxlist_obj_dhx_skyblue .dhxform_rtl .dhxlist_txt_textarea {
	direction: rtl;
	unicode-bidi: bidi-override;
}
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.item_label_left div.dhxlist_txt_label  {
	float: right;
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: right;
}



.dhxlist_obj_dhx_skyblue .dhxform_rtl div.item_label_right {
	direction: rtl;
	unicode-bidi: bidi-override;
}
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.item_label_right div.dhxlist_img {
	float: right;
}
.dhxlist_obj_dhx_skyblue .dhxform_rtl div.item_label_right div.dhxlist_txt {
	float: right;
	direction: rtl;
	unicode-bidi: bidi-override;
}

.dhxlist_obj_dhx_skyblue .dhxform_rtl div.dhx_list_btn td.btn_m div.btn_txt {
	direction: rtl;
	unicode-bidi: bidi-override;
}

.dhxlist_obj_dhx_skyblue .dhxform_rtl div.dhxlist_img {
	margin-left: 0px;
	margin-right: 5px;
}

.dhxlist_obj_dhx_skyblue .dhxform_rtl select.dhxlist_txt_select,
.dhxlist_obj_dhx_skyblue .dhxform_rtl select.dhxlist_txt_select option {
	direction: rtl;
	unicode-bidi: bidi-override;
}

.dhxlist_obj_dhx_skyblue .dhxform_rtl fieldset.dhxlist_fs legend.fs_legend {
	direction: rtl;
	unicode-bidi: bidi-override;
}

/*
.dhxlist_obj_dhx_skyblue_old div.dhxform_rtl table.dhxlist_items_set div.dhxlist_img {
	margin-left: 0px;
	margin-right: 5px;
}
.dhxlist_obj_dhx_skyblue_old div.dhxform_rtl td.dhxlist_txt_cell fieldset.dhxlist_fs legend.fs_legend {
	direction: rtl;
	unicode-bidi: bidi-override;
	text-align: right;
}
.dhxlist_obj_dhx_skyblue_old div.dhxform_rtl div.dhx_list_btn {
	float: right;
}
*/


/* disabled combo improve */
.dhxlist_obj_dhx_skyblue div.disabled .dhx_combo_box.dhx_skyblue {
	border:  1px solid #c2d0dd;
}
.dhxlist_obj_dhx_skyblue div.disabled .dhx_combo_box.dhx_skyblue .dhx_combo_input {
	color: #b2b2b2;
	background-color: #ffffff;
}


/* item: readonly */
.dhxlist_obj_dhx_skyblue div.dhxlist_item_template {
	overflow: hidden;
	white-space: nowrap;
	font-family: Tahoma;
	font-size: inherit;
	color: #000000;
	vertical-align: top;
	margin: 1px 3px;
	cursor: default;
	overflow: hidden;
}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_item_template {
		color: #b2b2b2;
	}

	
/* item dhxeditor */
.dhxlist_obj_dhx_skyblue div.dhxlist_item_template.dhxeditor_inside {
	border: 1px solid #a4bed4;
}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_item_template.dhxeditor_inside {
		border: 1px solid #c2d0dd;
	}
.dhxlist_obj_dhx_skyblue div.dhxlist_item_template.dhxeditor_inside div.dhxcont_content_blocker {
	display: none;
}
	.dhxlist_obj_dhx_skyblue div.disabled div.dhxlist_item_template.dhxeditor_inside div.dhxcont_content_blocker {
		display: inline;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: #fefefe;
		filter: alpha(opacity=70);
		-moz-opacity: 0.7;
		opacity: 0.7;
	}
	
	
/* validation */
.dhxlist_obj_dhx_skyblue .validate_ok .dhxlist_txt_label {
	
}
.dhxlist_obj_dhx_skyblue .validate_ok .dhxlist_txt_textarea,
.dhxlist_obj_dhx_skyblue .validate_ok .dhxlist_txt_select {
	
}

.dhxlist_obj_dhx_skyblue .validate_error .dhxlist_txt_label {
	color: red;
}
.dhxlist_obj_dhx_skyblue .validate_error .dhxlist_txt_textarea,
.dhxlist_obj_dhx_skyblue .validate_error .dhxlist_txt_select {
	color: red;
}

/* in window, main background-color */
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_body_inner .dhxlist_obj_dhx_skyblue {
	background-color: white;
}
/* in window,layour margin 10px for 1st level */
div.dhtmlx_wins_body_inner .dhxlist_obj_dhx_skyblue div.dhxlist_base,
td.dhtmlxLayoutSinglePoly .dhxlist_obj_dhx_skyblue div.dhxlist_base,
.dhx_tabcontent_zone .dhxlist_obj_dhx_skyblue div.dhxlist_base,
div.dhx_acc_item .dhxlist_obj_dhx_skyblue div.dhxlist_base {
	margin: 10px;
}
div.dhtmlx_wins_body_inner .dhxlist_obj_dhx_skyblue div.dhxlist_base div.dhxlist_base,
td.dhtmlxLayoutSinglePoly .dhxlist_obj_dhx_skyblue div.dhxlist_base div.dhxlist_base,
.dhx_tabcontent_zone .dhxlist_obj_dhx_skyblue div.dhxlist_base div.dhxlist_base,
div.dhx_acc_item .dhxlist_obj_dhx_skyblue div.dhxlist_base div.dhxlist_base {
	margin: 0px!important;
}


